###  This init script starts the acurafixril binary on boot  ###
###  Edited and cleaned by: daniel.stuart14  ###
###  Original script created by: Acura2201 "Arde Dev Team"  ###


service acurafixril /system/bin/acurafixril
        class main
        disabled
        oneshot

on property:sys.boot_completed=1
        start acurafixril


