# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.g2_product.rc
import /init.fm_vendor.rc
import /init.galbi.bt_vendor.rc
import init.lge.log.rc

# modem logging (LGODM)
import /init.lge.modem_log.rc

# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [START]
service diagd /system/bin/diagd
    class late_start
    user root
    group radio system
    disabled
    oneshot
    socket lsock_diagd stream 666

on property:wifi_ftm.diagd_start=1
    start diagd

on property:wifi_ftm.diagd_start=0
    stop diagd
# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [END]

on fs
    # NFC
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc

on boot
    lge_chcon_recursive /data/property u:object_r:property_data_file:s0
    lge_chcon_recursive /data/security u:object_r:security_file:s0
    start chcon_keystore

#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2014/10/06
#service recovery_write /sbin/write_recovery
#    class main
#    oneshot
#// LGE_UPDATE_S DMS_SYSTEM_GOTA dms-fota@lge.com 2014/10/06

#LGE_CHANGE_S, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com
on property:init.svc.media=restarting
    restart qcamerasvr
on property:init.svc.servicemanager=restarting
    restart qcamerasvr
#LGE_CHANGE_E, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com

service service-crash /system/bin/sh /init.g2.crash.sh
    class main
    disabled
    oneshot

on property:persist.service.crash.enable=1
    restart service-crash

on property:persist.service.crash.enable=0
    restart service-crash

# Begin Immersion changes
service immvibed /system/bin/immvibed
    class main
    user shell
    group shell system
    oneshot
# End Immersion changes

#touch firmware upgrade on hiddenmenu
on property:sys.lge.touchfirmware.update=1
    write /sys/devices/virtual/input/lge_touch/firmware 1
    setprop sys.lge.touchfirmware.update 2

service rctd /system/bin/rctd
    class late_start
    user root
    group root

service chcon_keystore /system/bin/sh /system/etc/init.g2_chcon_keystore.sh
    disabled
    oneshot
    seclabel u:r:keystore:s0
