###  Nuevas instrucciones de arranque  ###
###  Fijados nuevos parametros de Ram  ###
###  Por Acura2201 "Arde Dev Team"     ###


service acuraboot /system/bin/acuraboot
        class main
        disabled
        oneshot

service acurafixril /system/bin/acurafixril
        class main
        disabled
        oneshot

service acuraboost /system/bin/acuraboost
        class main
        disabled
        oneshot

on property:sys.boot_completed=1  # Forzado inicio tras el boot completo
        start acurafixril
        start acuraboot
        start acuraboost


