on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro noatime barrier=1
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/userdata /data nosuid nodev noatime barrier=1 noauto_da_alloc errors=continue

on boot
    lge_chcon_recursive /data/property u:object_r:system_data_file:s0
    lge_chcon_recursive /data/security u:object_r:system_data_file:s0
    start chcon_keystore

service chcon_keystore /system/bin/sh /system/etc/init.recovery.g2_chcon_keystore.sh
    disabled
    oneshot
    seclabel u:r:keystore:s0
